@import "../assets/scss/variable", "../assets/scss/mixins";
.applayout {
  width: 100%;
  height: 100vh;
  header {
    .bg-light {
      height: 75px;
      background-color: $whiteColor !important;
      .navbar-brand {
        a {
          span {
            padding: 10px;
            background: $primaryColor;
            border-radius: 5px;
            margin-right: 10px;
            @include font-family(18px, $whiteColor, 600, 22px, uppercase);
          }
          @include font-family(18px, $fontColor, 600, 22px, uppercase);
          &:hover {
            text-decoration: none;
          }
        }
      }
      .navbar-nav {
        padding: 0 25px;
        .nav-link {
          a {
            @include font-family(14px, $fontColor, 600, 22px, uppercase);
            i {
              margin-right: 10px;
            }
            &:hover {
              text-decoration: none;
              color: $primaryColor;
            }
          }
        }
      }
      .notify {
        .nav-link {
          margin-right: 22px;
          i {
            position: absolute;
            @include font-family(21px, $fontColor, 600, 22px, uppercase);
          }
          span {
            position: relative;
            top: -14px;
            left: 12px;
          }
        }
        .dropdown {
          button {
            display: flex;
            align-items: center;
            &.btn-success {
              color: #000;
              background-color: #fff;
              border-color: #fff;
            }
            figure {
              margin: 0rem;
              margin-right: 10px;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }
}
